@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-gray-100 text-gray-900;
    font-family: Candara, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  :root.dark {
    @apply bg-gray-900 text-gray-100;
  }

  h1 {
    @apply md:text-4xl text-3xl font-bold mb-4;
  }

  h2 {
    @apply md:text-2xl text-xl font-bold mb-4;
  }
  a {
    @apply text-blue-600 dark:text-blue-400 hover:underline;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: background-color 0.25s;
  }

  button:focus,
  button:focus-visible {
    outline: none;
  }
}
